@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Rubik;
        src: url(/fonts/Rubik-VariableFont_wght.ttf);
    }
}

.flex {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}